
html {
  overflow-y: hidden ;
}


body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
   
  }
  
  h1 {
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  table {
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  td {
    border: 2px solid black;
    padding: 10px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 14px;
    background-color: #e0e0e0;
    font-weight: bold;
  }

  .hidrogenio {
    background-color: #A2CE41;
  
  }
  
  .helio {
    background-color: #43A3D5;
  }

  .litio {
    background-color: #F8B101;
  }
 
  .berilio {
    background-color:#E7D712;
  }

  .escandio {
    background-color:#ED8D8E ;
  }

  .boro {
    background-color: #4CB6AC ;
  }

  .aluminio {
    background-color:#A1C7D4;
  }

  .fluor {
    background-color: #6ECBEB;
  }
  .espaco {
    background-color: #f4f4f4;
    border: none;

  }
  .lanthanides {
    background-color: #91E4E9;
    
  }

  .actinides {
    background-color: #D2B1E0;
  }

  .lanthanides .espaco {
    background-color: #f4f4f4;
    border: none;
    
  }
  
  .actinides .espaco {
    background-color: #f4f4f4;
    border: none;
  }

  .element {
    /*background-color: #f9f9f9;*/
    position: relative;
  }
  
  td.element {
    cursor: pointer;
  }
  
  td.element:hover {
    background-color: #e9c1c1;
    
  }

  footer {  
    text-align: center;   
}

.text_footer {
  color: #3f3c3c;
  font-size: 25px;
    
}
